.Ball{
    width:3em;
    height: 2.25em;
    border-radius: 50%;
    padding-top: 0.75em ;
    text-align: center;
    display: inline-block;
    margin: 20px 3px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    background-color: tomato;
}