.Lottery{
  border: 2px solid grey ;
  width: 60%;
  margin: 1em auto;
  border-radius: 8px;
  padding: 10px 0 15px 0;
}
.Lottery-title{
   padding: 0;
   margin: 0;
}
.Lottery button{
    border-radius: 7px;
    font-size: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
}